/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 116.667%;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family);
}

.header__tag {
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) auto 20px auto;
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  text-transform: uppercase;
  padding-block-start: 23px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-start: 21px;
}

@media (width <= 375px) {
  .header__tag {
    padding-block-start: 15px;
  }
  .header__title {
    font-size: 14px;
    margin-block-start: 10px;
  }
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px auto 20px 20px;
  font-size: 14px;
}

@media (width <= 375px) {
  .theme-menu__list {
    margin-top: 17px;
  }
}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  margin-block-start: 1px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: move 0.5s infinite ease-in-out alternate;
  left: -20px;
}

.content__section {
  font-family: var(--main-font-family);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.card {
  inline-size: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  padding: 5px 10px;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: var(--font-weight-title);
}

.card__image-text {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);
  inset-inline-end: min(2.93vi, 25px);
  inset-block-start: 25px;
}

.card__image {
  position: relative;
  inline-size: 100%;
}

.picture {
  object-fit: cover;
  object-position: center;
  outline: 2px solid var(--accent-color);
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter-bright {
  filter: brightness(120%);
}

.filter-contrast {
  filter: contrast(60%);
}

.filter-blur {
  filter: blur(0.2rem);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-saturate {
  filter: saturate(188%);
}

.filter-sepia {
  filter: sepia(40%);
}

.filter-multiplicity {
  filter: saturate(90%) hue-rotate(40deg) brightness(120%);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.description {
  font-size: 18px;
  font-weight: var(--font-weight-text);
  line-height: 116.667%;
}

.card__like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: outline 0.3s ease;
  position: relative;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  transition: box-shadow 0.3 ease;
  position: relative;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform-origin: top left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font-family);
  font-size: 14px;
  color: var(--button-color);
  line-height: 90%;
  padding: 25px;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  gap: 8px;
  margin: 0px auto 50px;
  padding: 15px 20px;
  align-items: center;
  background-color: var(--background-color);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}

.save-button .button__text {
  padding: 3px 3px 0 0;
}

.save-button__icon {
  inline-size: 21px;
  block-size: 21px;
  color: var(--button-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.save-dialog {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.save-dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: min-content min-content;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  padding: 30px 35px;
  inline-size: min(90.9vi, 357px);
}

.save-dialog__form {
  grid-column: 1/3;
}

.save-dialog__button {
  inline-size: 100%;
  padding: 9px 17px;
  text-transform: uppercase;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 